:root {
  /* Color */
  --light-black-color: #2c3e50;
  --black-color: black;
  --blue-color: #3498db;
  --red-color: #e74c3c;
  --white-color: #ecf0f1;
  --brown-color: #b33939;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: var(--light-black-color);
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--brown-color);
  color: var(--white-color);
  padding: var(--padding);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons i {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.infoAndUpNext > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
}

.info .metadata .hashtags li {
  margin-right: vaar(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
  margin-bottom: 5px;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .metadata .views {
  font-size: var(--font-small);
}

.info .button_list {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .button_list button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--light-black-color);
}

.info .button_list button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .button_list button:hover {
  color: var(--blue-color);
}

.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--light-black-color);
  border-bottom: 1px solid var(--light-black-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
}

.info .channel .subscribe_btn {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Up Next */
.UpNext {
  padding: var(--padding);
}

.UpNext .title {
  font-size: var(--font-medium);
  margin-bottom: calc(var(--padding) / 2);
}

.UpNext .item {
  display: flex;
  margin-top: var(--padding);
}

.UpNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.UpNext .item .img img {
  width: 100%;
}

.UpNext .item .info {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.UpNext .item .moreBtn {
  flex: 1 1 5%;
}

.UpNext .item .info .name,
.UpNext .item .info .views {
  font-size: var(--font-micro);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 780px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
